language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
  - 2.6
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build talon_one.gemspec
  - gem install ./talon_one-25.26.gem
