language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build talon_one_sdk.gemspec
  - gem install ./talon_one_sdk-26.03.gem
